* {
	margin: 0;
}

.wrapper {
	/*margin-left:auto;
    margin-right:auto;*/
    width:1000px;
    margin: 0 auto;
    border: 2px solid orange;
    height: 400px;
    position: relative;
}

#wrapper1 {
	height: 600px;
}

/*increase of the nav menu*/
nav li a:hover {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

 


.nav-tabs {
	margin-left: 30px;

}

#home {
	margin: 0 auto;
	border: 1px solid red;
	width: 80%;
	height: 300px;
	margin-top: 50px;
	padding: 10px;
	
}

.col-xs-3{
	border: 2px solid red;
	border-radius: 10%;

}

.col-xs-5{
	border: 2px solid red;
	border-radius: 10%;
	margin-top: 60px;
	margin-left: -400px;

}

#perf {
	padding-left: 5px;
}







.parallax-window {
    min-height: 400px;
    background: transparent;
}




/*flipping css*/



/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 250px;
	height: 250px;
	padding-left: 7px;
	padding-top: 3px;
	float: left;
	margin: 30px 0px 0px 30px;
}


/* flip speed goes here */
.flipper {
	transition: 1.6s;
	transform-style: preserve-3d;
	position: relative;

}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	border: 2px solid black;
	border-radius: 10%;
}








