@font-face {
    font-family: 'garamond';
    src: url("../fonts/Garamond.ttf");
    font-weight: normal;
    font-style: normal;
}

 .contact-container{ 
 		width: 80%; 
 		margin: 20px auto;
 		border-radius: 5px;
 		border: 2px solid;
 		background: turquoise;
		font-family: 'garamond';
		display: grid;
		grid-template-columns: 1fr 1fr;		
 	 }
#left {
	/*border: 2px solid blue;*/
}

#left, #right {
	padding: 20px 10px;
	
}

.input, .names {
	margin-left: 30px;
}

@media all and (max-width: 768px){
	 .contact-container{
		grid-template-columns: 1fr;
	 }
}


